* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
body {
  background: linear-gradient(
    90deg,
    rgba(48, 16, 255, 1) 0%,
    rgba(100, 115, 255, 1) 100%
  );
  overflow: scroll;
}
.app {
  background: #161a2b;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 40%;
  margin: 2.5% auto;
  height: 90vh;
  border-radius: 8px;
}
.linearWipe {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 3rem;
	font-weight:  50;
	letter-spacing: 2px;
	text-align: center;
	color: #f35626;
	background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
	-webkit-background-clip: text;
  background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 10s infinite linear;
  animation: hue 10s infinite linear;
  margin-top: 20px;
}

@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
.add input {
  outline: none;
  border: 2px solid #5d0cff;
  padding: 14px 32px 14px 16px;
  background: transparent;
  width: 400px;
  border-radius: 4px 0 0 4px;
  color: white;

 
  
}
.add
{
  text-align: center;
  margin: 20px auto;
 
}
.add button {
  outline: none;
  border: none;
  padding: 16px;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  border-radius: 0 4px 4px 0;
}
.task {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 450px;
  border-radius: 6px;
  border:none;
   margin: 20px auto; 
  background: linear-gradient(
    90deg,
    rgba(255, 118, 20, 1) 0%,
    rgba(255, 84, 17, 1) 100%
  );
  
  padding: 5px 10px;

}
.task button {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  width: 80px;
  height: 40px;
  transition: all 0.5s;
}
.task button:hover {
  background: wheat;
  color: #000;
}


.task:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
}

.task:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgba(255, 12, 241, 1) 0%,
    rgba(250, 0, 135, 1) 100%
  );
}

.task:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
}
.task input{
  outline: none;
 background-color: greenyellow;
 border: none;
 border-radius: 20px;
 height: 30px;
 text-align: center;
}